langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
pymupdf
chainlit
langchain
chromadb 
tiktoken 
fitz
pypdf
langchainhub
faiss-cpu
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
unstructured